body {
    background-color: #666;
    font-family: 'PT Sans', sans-serif ;
}
h1, h2, h3, h4, h5, h6 {
    font-family:  'PT Sans', sans-serif;
}
.content {
    padding: 0;
    margin: 0;
}
.text-align-middle {
    vertical-align: middle !important;
}

.navbar-brand {
    padding: 5px;
}

.panel-default > .panel-heading {
    background: #b2b2b2; /* Old browsers */
    background: -moz-linear-gradient(top,  #b2b2b2 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b2b2), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b2b2b2 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b2b2b2 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b2b2b2 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b2b2b2 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

}

.btn-primary {
    background: #005fdb; /* Old browsers */
    background: -moz-linear-gradient(top,  #005fdb 0%, #2e79c9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005fdb), color-stop(100%,#2e79c9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #005fdb 0%,#2e79c9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #005fdb 0%,#2e79c9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #005fdb 0%,#2e79c9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #005fdb 0%,#2e79c9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005fdb', endColorstr='#2e79c9',GradientType=0 ); /* IE6-9 */

}
.btn {
    font-size: 20px !important;
}
.btn i{
    position: relative;
    top: 3px;
    font-size: 1.3em;
}
.btn-default {
    background-color: #eeeeee;
}
td, th {
    text-align: center;
}
td.result {
    text-align: center;
    padding: 2px !important;
}
.hole-in-one {
    background-color: #fff70c !important;
    font-weight: bold;
}
.hole-in-one:before {
    font-family: 'FontAwesome';
    content: '\f091';
}
.par {
    background-color: lawngreen !important;
}
.eagle {
    background-color: #add8e6 !important;
}
.bogey {
    background-color: #ff8c00 !important;
}
.double-bogey {
    background-color: #ff5a00 !important;
}

.triple-bogey {
    background-color: #870023 !important;
}

.ob {
    border: 2px solid red !important;
    box-sizing: border-box;
}
